<div class = page>
    <h1>SmartBookz Marketplace</h1>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <button type="button" class="btn btn-secondary account-button">My Account</button>
      <div class="book-element">
      <button type="button" class="btn btn-primary offer-button">Offer</button>
      <div class = "row">

        <div class="col-sm-4">
            <div class="imgcontainer">
            <img src="http://www.i2clipart.com/cliparts/0/3/7/f/128135037f6552b5240d4a4fed8520947a4b01.png" alt="Avatar" class="avatar">
            </div>
        </div>
        <div class="col-sm-4">
        
        <h3>Book Title</h3>
        <p><b>Book Author</b></p>
        <p>More Book Info...</p>
        <p>Asking Price: <b>$5</b></p>
        </div>
      </div>
      </div>

      <div class="book-element">
      <button type="button" class="btn btn-primary offer-button">Offer</button>
      <div class = "row">

        <div class="col-sm-4">
            <div class="imgcontainer">
            <img src="http://www.i2clipart.com/cliparts/0/3/7/f/128135037f6552b5240d4a4fed8520947a4b01.png" alt="Avatar" class="avatar">
            </div>
        </div>
        <div class="col-sm-4">
        
        <h3>Book Title</h3>
        <p><b>Book Author</b></p>
        <p>More Book Info...</p>
        <p>Asking Price: <b>$5</b></p>
        </div>
      </div>
      </div>

      <div class="book-element">
      <button type="button" class="btn btn-primary offer-button">Offer</button>
      <div class = "row">

        <div class="col-sm-4">
            <div class="imgcontainer">
            <img src="http://www.i2clipart.com/cliparts/0/3/7/f/128135037f6552b5240d4a4fed8520947a4b01.png" alt="Avatar" class="avatar">
            </div>
        </div>
        <div class="col-sm-4">
        
        <h3>Book Title</h3>
        <p><b>Book Author</b></p>
        <p>More Book Info...</p>
        <p>Asking Price: <b>$5</b></p>
        </div>
      </div>
      </div>

</div>